<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Bankruptcy Predictor</title>
</head>

<body>
    <div class="container">
        <h2>Enter your Data</h2>
        <form method="POST" action="/predictdata">

            <div class="form-group">
                <label >short-term liabilities / total assets</label>
                <input type="text" id="short-term liabilities / total assets" name="atr1" required><br><br>
            </div>

            <div class="form-group">
                <label>retained earnings / total assets</label>
                <input type="text" id="retained earnings / total assets" name="atr2" required><br><br>
            </div>

            <div class="form-group">
                <label>net profit / total assets</label>
                <input type="text" id="net profit / total assets" name="atr3" required><br><br>
            </div>

            <div class="form-group">
                <label>(equity - share capital) / total assets</label>
                <input type="text" id="(equity - share capital) / total assets" name="atr4" required><br><br>
            </div>

            <div class="form-group">
                <label>profit on sales / sales</label>
                <input type="text" id="profit on sales / sales" name="atr5" required><br><br>
            </div>

            <div class="form-group">
                <label>profit on sales / total assets</label>
                <input type="text" id="profit on sales / total assets" name="atr6" required><br><br>
            </div>

            <div class="form-group">
                <label>(gross profit + extraordinary items + financial expenses) / total assets</label>
                <input type="text" id="(gross profit + extraordinary items + financial expenses) / total assets" name="atr7" required><br><br>
            </div>

            <div class="form-group">
                <label>profit on operating activities / total assets</label>
                <input type="text" id="profit on operating activities / total assets" name="atr8" required><br><br>
            </div>

            <div class="form-group">
                <label>constant capital / total assets</label>
                <input type="text" id="constant capital / total assets" name="atr9" required><br><br>
            </div>

            <div class="form-group">
                <label>gross profit (in 3 years) / total assets</label>
                <input type="text" id="gross profit (in 3 years) / total assets" name="atr10" required><br><br>
            </div>

            <div class="form-group">
                <label>(total liabilities 365) / (gross profit + depreciation)</label>
                <input type="text" id="(total liabilities 365) / (gross profit + depreciation)" name="atr11" required><br><br>
            </div>

            <div class="form-group">
                <label>profit on operating activities / financial expenses</label>
                <input type="text" id="profit on operating activities / financial expenses" name="atr12" required><br><br>
            </div>

            <div class="form-group">
                <label>sales (n) / sales (n-1)</label>
                <input type="text" id="sales (n) / sales (n-1)" name="atr13" required><br><br>
            </div>

            <div class="form-group">
                <label>(current assets - inventory) / short-term liabilities</label>
                <input type="text" id="(current assets - inventory) / short-term liabilities" name="atr14" required><br><br>
            </div>

            <div class="form-group">
                <label>total costs /total sales</label>
                <input type="text" id="total costs /total sales" name="atr15" required><br><br>
            </div>

            <div class="form-group">
                <label>logarithm of total assets</label>
                <input type="text" id="logarithm of total assets" name="atr16" required><br><br>
            </div>

            <div class="form-group">
                <label>total liabilities / total assets</label>
                <input type="text" id="total liabilities / total assets" name="atr17" required><br><br>
            </div>

            <div class="form-group">
                <label>working capital / total assets</label>
                <input type="text" id="working capital / total assets" name="atr18" required><br><br>
            </div>

            <!-- Add more input fields as needed -->

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
        <h2>
            The prediction is {{results}}
        </h2>
    </div>
</body>

</html>
